<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>

	  <script src="css/jquery-latest.js"></script>
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
      <title>Customs Excel Course - Home</title>
      <link rel="STYLESHEET" type="text/css" href="style/fg_membersite.css">

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <link href="vendor/bootstrap.min.css" rel="stylesheet">
      <link href="vendor/bootstrap.css" rel="stylesheet">
      <link href="stylesheets_tariffs/style.css">
      <link href="vendor/css/responsive.css">
      <link href="vendor/css/style.css">

      <link rel="stylesheet" href="vendor/css/style.css">
	  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100,900' rel='stylesheet' type='text/css'>

      <link href="vendor/css/business-casual.css" rel="stylesheet">
      <link href="vendot/css/business-casual.css" rel="stylesheet">
      <link href="vendor/css/modern-business.css" rel="stylesheet">

      <script type="text/javascript" language="JavaScript">
  function set_body_height() { // set body height = window height
    $('body').height($(window).height());
  }
  $(document).ready(function() {
    $(window).bind('resize', set_body_height);
    set_body_height();
  });
</script>



<style>
/* Style the buttons */
.btn {
    border-style: none;
    outline: none;
    padding: 5px 10px;
    background-color: ;
    cursor: pointer;
    font-size: 17px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
    background-color: #666;
    color: white;
}
</style>




</head>



 <body>  


 


 	<div class="container">
 <div class="bg-faded p-4 my-4">

          <table width="100%">
          	<tr><td align="center">
          		<div class="theme">
          			<h2 class="theme_" style="color:darkblue">Customs & Excise Proffessional Development</h2>
          		</div>
          	</td></tr>          	
          </table>

        
<%= link_to 'Home', root_path %><br>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %><br><br>


                 <div class=""><br>

                  <h5> Course Description </h5> <p>The use of MS Excel is increasingly becoming prevelant for clerks and managers because their daily duties always require some level of data input, manipulation,
                  storage or retreival using spreadsheets. The first part of this course is designed to provide students with the techinques and knowledge required to comfortably use MS Excel at a basic level.
                This part is aimed at building the confidence of clerks and managers when creating, accessing and editing MS Excel Workbooks. The second part of this course is designed to provide students with the techniques and knowledge required for advance manipulation, visualization and analysis of data.</p>


                  <h5> Intended Learning Outcomes (PART ONE)  </h5> 
                  <p>Upon attending all lecturers, reading and studying the assigned materials, the student will be able to:
                  <ol>
                      <li> Create, open, and save workbooks.</li>
                      <li> Enter, select, and delete , redo, undo, cut-copy-paste. </li>
                      <li> Insert rows and columns, merge and split cells, find and replace, hiding & un-hiding cell. </li>
                      <li> Manipulate data (calculations) using predefined formulas and without. </li>
                      <li> Apply absolute and relative cell referencing, sorting and filter. </li>
                      <li> Format text, data and Workbook. </li>
                      <li> Insert Art and Objects. </li>
                      <li> Represent data graphically. </li>
                      <li> Print entire spreadsheet or components of the spreadsheet. </li>
                    </ol>




                       </p>

                     

                       <h5>Tutorials</h5>
                       <ul>
                          <%= link_to 'Creating New Work Sheets', "/CustomsExcelCourse/tutorials1/-creating-new-worksheets.docx"%><br> 
                          <%= link_to 'Getting to know Excel', '/CustomsExcelCourse/tutorials1/-getting-to-know-excel.docx'%>
                          <%= link_to 'Modifying Columns Rows and Cells', '/CustomsExcelCourse/tutorials1/-modifying-columns-rows-and-cells.docx'%><br>
                          <%= link_to 'Number Formats', '/CustomsExcelCourse/tutorials1/-number-formats.docx'%><br>
                          <%= link_to 'Understanding Cells', '/CustomsExcelCourse/tutorials1/-understanding-cells.docx'%><br>
                          <%= link_to 'Working with Multiple Worksheets', '/CustomsExcelCourse/tutorials1/working-with-multiple-worksheets.docx'%>
                        </ul>


                
                  <h5> Spreadsheet Lessons</h5>
                  <ul>
                    <li><a href="https://www.gcflearnfree.org/excel2016/getting-started-with-excel/1/" target="_blank">Getting Started with Excel</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/creating-and-opening-workbooks/1/" target="_blank">Creating and Opening Workbooks</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/saving-and-sharing-workbooks/1/" target="_blank">Saving and Sharing Workbooks</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/cell-basics/1/" target="_blank">Cell Basic</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/modifying-columns-rows-and-cells/1/" target="_blank">Modifying Columns Rows and Cells</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/formatting-cells/1/" target="_blank">Formatting Cells</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/understanding-number-formats/1/" target="_blank">Understanding Number Formats</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/working-with-multiple-worksheets/1/" target="_blank">Working with Multiple Worksheets</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/using-find-replace/1/" target="_blank">Using Find and Replace</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/page-layout-and-printing/1/" target="_blank">Page Layout and Printing</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/intro-to-formulas/1/">Introduction to Formulas</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/creating-more-complex-formulas/1/" target="_blank">Creating More Complex Formulas</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/relative-and-absolute-cell-references/1/" target="_blank">Relative & Absolute Cell Referencing</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/functions/1/" target="_blank">Functions</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/basic-tips-for-working-with-data/1/" target="_blank">Basic Tips for Working with Data</a></li>
                    <li><a href="https://www.gcflearnfree.org/excel2016/freezing-panes-and-view-options/1/" target="_blank">Freezing Panes & View Options</a></li>
                    <li><a href="https://edu.gcfglobal.org/en/excel2016/groups-and-subtotals/1/" target="_blank">Groups & Subtotals</a></li>
                  </ul>



                    <h5> Practice Exercises </h5> <br>
                    <ul>
                      <li><a href="PracticeWorksheetPart2/cellbasics_challenge_instructions.docx" target="_blank">Challenge Instructions : Cell Basics </a></li>
                      <li><a href="PracticeWorksheetPart2/-cell-basics.xlsx" target="_blank">Practice Exercise : Cell Basics </a></li>
                      <li><a href="PracticeWorksheetPart2/-compatibility-challenge-instructions.docx" target="_blank">Challenge Instructions : Compatibility </a></li>
                      <li><a href="PracticeWorksheetPart2/compatibility.xls" target="_blank">Practice Exercise : Compatibility </a></li>
                      <li><a href="PracticeWorksheetPart2/modifycell_columnsrows_challenge_instructions.docx" target="_blank">Challenge Instructions: Modify Cell Columns and Rows</a></li>
                      <li><a href="PracticeWorksheetPart2/modify_cells.xlsx" target="_blank">Practice Exercise: Modify Cells</a></li>
                      <li><a href="PracticeWorksheetPart2/number_formats_challenge_instructions.docx" target="_blank">Challenge Instructions: Number Formats</a></li>
                      <li><a href="PracticeWorksheetPart2/number_formats.xlsx" target="_blank">Practice Exercise: Number Formats</a></li>
                      <li><a href="PracticeWorksheetPart2/multiple_worksheets_challenge_instructions.docx" target="_blank">Challenge Instructions : Multiple Worsheet </a></li>
                      <li><a href="PracticeWorksheetPart2/multiple_worksheets.xlsx" target="_blank">Practice Exercise : Multiple Worksheet</a></li>


                    </ul>

<br>
                    <h5> Course Schedule (PART ONE)</h5>

                    <table border="1" cellpadding="0" cellspacing="0" width="100%">
                      <tr><td width="20%" align="center"> Date</td> <td width="20%" align="center"> Topics / Sub-topics </td> <td width="20%" align="center"> Teaching Strategies and Activities</td><td align="center" width="20%">Assignents</td><td width="20%" align="center" >Assignment Due Dates </td></tr>

                      <tr><td width="20%" align="center">Day 1</td><td width="20%"><b>Course Introduction</b><ol><li>Course Outline Review</li><li>Course Requirements and Expectiations</li><li>Excel Window & Toolbars</li><li>Create, Save, and open Workbooks, Renaming workbooks and spreadsheets.</li><li>Insert and delete rows and columns, mreging cells, find and replace, hide and unhide cells.</li></ol> </td><td width="20%" style="padding-left: 5px;">Students and lecturer will go over course outline together<br><br><br>Lecturer and students will examine and recreate an existing workbook.</td>
                        <td align="center"> Assignment 1</td><td width="20%"></td></tr>


                        <tr>
                          <td width="20%" align="center">Day 2 </td> <td width="20%"> <b>Data Manipulation</b> <br> <ol><li>Calculating using basic predefined functions.</li><li>Calculating without using predefined functions. </li><li> Absolute Cell Referencing</li></ol></td><td width="20%" style="padding-left: 5px;" >Revision of Assignment 1. <br><br> Lecturer and students will edit an existing spreadsheet.</td><td width="20%" align="center"> Assignment 2 </td><td width="20%" align="center"> </td>
                        </tr>

                          <tr>
                            <td width="20%" align="center">Day 3</td><td width="20%"><b> Data Manipulation</b> <ol><li>Calculating using IF and VLOOKUP functions.</li><li>Sort and Filter</li></ol></td>
                            <td style="padding-left: 5px;"> Revision of Assignment 2 <br><br>Lecturer will present on topic and sub topics. <br><br> Students will follow online instructions to implement what was presented. <br><br> Students will use class time to begin working on Assignment 3. </td><td width="20%" align="center">Assignent 3</td><td></td>
                          </tr>

                          <tr>
                            <td width="20%" align="center">Day 4 </td><td width="20%"><b>Data Formatting and Visualization</b><br> <ol><li> Formatting data / Cosmetics</li><li>Inserting Art and Objects</li>
                              <li>Visualizing data graphically</li></ol></td><td style="padding-left: 5px;"> Lecturer and student will format and vizualize data on an existing spreadsheet.</td><td width="20%" align="center"> Assignment 4 </td><td width="20%"></td>
                            </tr>

                            <tr><td width="20%" align="center">Day 5 </td><td width="20%"><b>Review and Final Assessment</b></td><td style="padding-left: 5px;">One Hour Review<br><br>One Hour Final Assessment</td><td width="20%"></td><td width="20%"></td></tr>





                      </table>

                      <br><br>

                         <h5> Intended Learning Outcomes (PART TWO) </h5> <br>
                  <p>Upon attending all lecturers, reading and studying the assigned materials, the student will be able to:
                  <ol>
                      <li>Import Data to Spreadsheet, Separate Data, Split Cells into Columns if necessary. </li>
                      <li>Data Cleaning</li>
                      <li>Identify, understand and use various terms for functionalities of Excel so as to be able to utilize the functionalities properly.  </li>
                      <li> Use the most appropriate spreadsheet functions, including PMT, IF, VLOOKUP, etc. </li>
                      <li> Choose appropriate visualization chart. </li>
                      <li> Apply absolute and relative cell referencing, sorting and filter. </li>
                      <li> Format text, data and Workbook. </li>
                      <li> Insert Art and Objects. </li>
                      <li> Represent data graphically. </li>
                      <li> Print entire spreadsheet or components of the spreadsheet. </li>
                    </ol>




                       </p>


                
                  <h5> Advance Spreadsheet Lessons</h5>
                  <ul>
                    <li><a href="http://www.keynotesupport.com/excel-basics/excel-linking-worksheets.shtml" target="_blank">Linking Sheets</a></li>
                    <li><a href="http://www.excel-easy.com/examples/names-in-formulas.html" target="_blank">Range Names</a></li>
                    <li><a href="https://support.office.com/en-us/article/Use-nested-functions-in-a-formula-9d7c966d-6030-4cd6-a052-478d7d844166" target="_blank">Conditional & Logical Functions</a></li>
                    <li><a href="https://support.office.com/en-ie/article/Create-and-manage-drop-down-lists-28db87b6-725f-49d7-9b29-ab4bc56cefc2?ui=en-US&rs=en-IE&ad=IE" target="_blank">Using Excel to Manage List</a></li>
                    <li><a href="https://support.office.com/en-us/article/Logical-functions-reference-e093c192-278b-43f6-8c3a-b6ce299931f5" target="_blank">AND, OR, NOT</a></li>
                    <li><a href="https://support.office.com/en-us/article/VLOOKUP-function-0bbc8083-26fe-4963-8ab8-93a18ad188a1" target="_blank">VLookup</a></li>
                    <li><a href="https://support.office.com/en-us/article/HLOOKUP-function-a3034eec-b719-4ba3-bb65-e1ad662ed95f" target="_blank">HLookup</a></li>                   
                    <li><a href="http://moodle.ub.edu.bz/pluginfile.php/300543/mod_page/content/11/If_Loookup.pdf" target="_blank">IF & LOOKUP PDF</a></li>
                    <li><a href="https://support.office.com/en-us/article/PMT-function-0214da64-9a63-4996-bc20-214433fa6441" target="_blank">PMT Function</a></li>
                    <li><a href="http://www.gcflearnfree.org/excel2013/whatif-analysis/1/" target="_blank">What-If-Analysis</a></li>
                    <li><a href="http://www.gcflearnfree.org/excel2013/pivottables/1/" target="_blank">Pivot Tables</a></li>
                    <li><a href="https://support.office.com/en-us/article/Create-and-manage-drop-down-lists-28db87b6-725f-49d7-9b29-ab4bc56cefc2" target="_blank">Managing Lists</a></li>
                    <li><a href="http://www.gcflearnfree.org/excel2013/charts/1/" target="_blank">Charts</a></li>
                  </ul>

                  <h5>Spreadsheet Slides</h5>
                  <ul>
                    <li><a href = "Spreadsheet Slides-20190628/Advanced Spreadsheet.pptx">Advance Spreadsheet 1 </a></li>
                    <li><a href = "Spreadsheet Slides-20190628/Advanced Spreadsheet2.pptx">Advance Spreadsheet 2</a></li>
                    <li><a href = "Spreadsheet Slides-20190628/Advanced Spreadsheet3.pptx">Advance Spreadsheet 3</a></li>
                  </ul>


                  <h5> Practice Worksheets</h5>
                  <ol>
                    <li><a href="Practice Worksheets-20190628/2016-2_Lab_Exel_practice_mmedina.xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/Excel practice.xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/Excel2013_WhatIf_Practice (2).xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/Excel Test (1).xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/excel ub.xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/Excel-Workshop.xls">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/GradeBook.xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/lab5.xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/LAB6.xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/PivotTables.xls">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/PivotTables (1).xls">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/PivotTables (2).xls">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/VLookup-Ex.xls">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/Vlookup_Nested IF Practice.xlsx">Excel Lab</a></li>
                    <li><a href="Practice Worksheets-20190628/worksheet ub.xlsx">Excel Lab</a></li>
                  </ol>

                    <h5> Practice Exercises </h5> 
                    <ul>
                      <li><a href="https://drive.google.com/file/d/0BzsNfLTBH1s0TlgxQlEyNEVSWEE/view?usp=sharing" target="_blank">Linking Sheets</a></li>
                    <li><a href="http://www.excel-easy.com/examples/names-in-formulas.html" target="_blank">Range Names</a></li>
                    <li><a href="https://drive.google.com/file/d/0BzsNfLTBH1s0LUxlTWtTMk8xaVk/view?usp=sharing" target="_blank">Conditional & Logical Functions</a></li>
                    <li><a href="https://support.office.com/en-ie/article/Create-and-manage-drop-down-lists-28db87b6-725f-49d7-9b29-ab4bc56cefc2?ui=en-US&rs=en-IE&ad=IE" target="_blank">Using Excel to Manage List</a></li>
                    <li><a href="https://support.office.com/en-us/article/Logical-functions-reference-e093c192-278b-43f6-8c3a-b6ce299931f5" target="_blank">AND, OR, NOT</a></li>
                    <li><a href="https://drive.google.com/open?id=0BzsNfLTBH1s0LUxlTWtTMk8xaVk" target="_blank">VLookup</a></li>
                    <li><a href="https://drive.google.com/open?id=0BzsNfLTBH1s0LUxlTWtTMk8xaVk" target="_blank">HLookup</a></li> 
                    <li><a href="http://moodle.ub.edu.bz/pluginfile.php/300543/mod_page/content/11/If_Loookup.pdf" target="_blank">IF & LOOKUP PDF</a></li>
                    <li><a href="https://drive.google.com/file/d/0BzsNfLTBH1s0dVZIZ24weXEtZ2M/view?usp=sharing" target="_blank">PMT Function</a></li>
                    <li><a href="http://www.gcflearnfree.org/excel2013/whatif-analysis/1/" target="_blank">What-If-Analysis</a></li>
                    <li><a href="http://www.gcflearnfree.org/excel2013/pivottables/1/" target="_blank">Pivot Tables</a></li>
                    <li><a href="http://www.gcflearnfree.org/excel2013/charts/1/" target="_blank">Charts</a></li>


                    </ul>

<br>
  <h5> Course Schedule (PART TWO - To be Edited)</h5>

                    <table border="1" cellpadding="0" cellspacing="0" width="100%">
                      <tr><td width="20%" align="center"> Date</td> <td width="20%" align="center"> Topics / Sub-topics </td> <td width="20%" align="center"> Teaching Strategies and Activities</td><td align="center" width="20%">Assignents</td><td width="20%" align="center" >Assignment Due Dates </td></tr>

                      <tr><td width="20%" align="center">Day 1</td><td width="20%"><b>Course Introduction</b><ol><li>Course Outline Review</li><li>Course Requirements and Expectiations</li><li>Excel Window & Toolbars</li><li>Create, Save, and open Workbooks, Renaming workbooks and spreadsheets.</li><li>Insert and delete rows and columns, mreging cells, find and replace, hide and unhide cells.</li></ol> </td><td width="20%" style="padding-left: 5px;">Students and lecturer will go over course outline together<br><br><br>Lecturer and students will examine and recreate an existing workbook.</td>
                        <td align="center"> Assignment 1</td><td width="20%"></td></tr>


                        <tr>
                          <td width="20%" align="center">Day 2 </td> <td width="20%"> <b>Data Manipulation</b> <br> <ol><li>Calculating using basic predefined functions.</li><li>Calculating without using predefined functions. </li><li> Absolute Cell Referencing</li></ol></td><td width="20%" style="padding-left: 5px;" >Revision of Assignment 1. <br><br> Lecturer and students will edit an existing spreadsheet.</td><td width="20%" align="center"> Assignment 2 </td><td width="20%" align="center"> </td>
                        </tr>

                          <tr>
                            <td width="20%" align="center">Day 3</td><td width="20%"><b> Data Manipulation</b> <ol><li>Calculating using IF and VLOOKUP functions.</li><li>Sort and Filter</li></ol></td>
                            <td style="padding-left: 5px;"> Revision of Assignment 2 <br><br>Lecturer will present on topic and sub topics. <br><br> Students will follow online instructions to implement what was presented. <br><br> Students will use class time to begin working on Assignment 3. </td><td width="20%" align="center">Assignent 3</td><td></td>
                          </tr>

                          <tr>
                            <td width="20%" align="center">Day 4 </td><td width="20%"><b>Data Formatting and Visualization</b><br> <ol><li> Formatting data / Cosmetics</li><li>Inserting Art and Objects</li>
                              <li>Visualizing data graphically</li></ol></td><td style="padding-left: 5px;"> Lecturer and student will format and vizualize data on an existing spreadsheet.</td><td width="20%" align="center"> Assignment 4 </td><td width="20%"></td>
                            </tr>

                            <tr><td width="20%" align="center">Day 5 </td><td width="20%"><b>Review and Final Assessment</b></td><td style="padding-left: 5px;">One Hour Review<br><br>One Hour Final Assessment</td><td width="20%"></td><td width="20%"></td></tr>





                      </table>

    
      </div>

          
          





  </div>  



</div>
















  



</div>
 <footer class="footerbg text-center">
      <div class="container  footerbg">
         <p class="m-0 footerbg" style="color:white">Copyright &copy; Belize Customs and Excise 2018<br>Web Design: Jevon Mckenzie &nbsp;&nbsp;&nbsp; Graphic Design: Julian Chimal</p>
       </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

