<h1>Customs Internal Bulletin</h1>

<% if current_user %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit User Information', edit_user_registration_path %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path %>

<%= link_to 'Sign in', new_user_session_path %>
<% end %>


<%= link_to 'Supports', supports_path %>
