



	<div class="container">
 <div class="bg-faded p-4 my-4">

          <table width="100%">
          	<tr><td align="center">
          		<div class="theme">
          			<h2 class="theme_" style="color:darkblue">Customs & Excise Department Bulletin</h2><br><% if current_user %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Edit User Information', edit_user_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% else %>
<%= link_to 'Sign up', new_user_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= link_to 'Sign in', new_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<% end %>



          		</div>
          	</td></tr>          	
          </table>

          <div class="card-header" role="tab" id="headingNine">
</table>

          

                 <div class="row"><br>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" align="center">Officer Of The Month</h4>
            <div class="card-body">
              <p class="card-text"><b>Date:</b><br> March 27th <br><br><b>Name Of Officer:</b><br> Include information about oficer</p>
            </div>
            <div class="card-footer">
              <a href="" target = "_blank" class="btn btn-primary">Read About Officer</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" align="center">Forms</h4>
            <div class="card-body">
              <p class="card-text" align="center"> <%= link_to 'Request IT Support', supports_path %><br><br>
                <%= link_to 'Request Toner', toners_path %>
             </p>
            </div>
           <div class="card-footer">
            <a href="" target="_blank" class="btn btn-primary"></a>
           </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" align="center">Proff. Development</h4>
            <div class="card-body">
             <p class="card-text" align="center"> <%= link_to 'Microsoft Excel Course', pages_excel_path, target: :_blank %> </p>
            </div>
            <div class="card-footer">
              <a href="" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
      </div>

          
          





  </div>  



</div>




<div class="bg-faded p-4 my-4">
 <div class="row"><br>                                                                                                                                                      <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" align="center">Policies & SOP's</h4>
            <div class="card-body">
              <p class="card-text"><br>Insert Link<br><br>Insert Link</p>
            </div>
            <div class="card-footer">
              <a href="" target = "_blank" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header" align="center">Quizletts</h4>
            <div class="card-body">
              <p class="card-text" align="center"><%= link_to 'Insert Link to Quizlett', "http://customs.gov.bz/source/quiz_trade_1.php", target: :_blank %> </p>
            </div>
            <div class="card-footer">
              <a href="" target ="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">                                                                                                                                                              <h4 class="card-header" align="center">Proff. Development</h4>
            <div class="card-body">
              <p class="card-text" align="center"><a href="" target="_blank"></a></p>                                                      </div>
            <div class="card-footer">
              <a href="" target="_blank" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>                 



        


 
 <footer class="footerbg text-center">
      <div class="container  footerbg">
         <p class="m-0 footerbg" style="color:white">Copyright &copy; Belize Customs and Excise 2018<br>Web Design: Jevon Mckenzie &nbsp;&nbsp;&nbsp; Graphic Design: Julian Chimal</p>
       </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
