<div class="container">
<div class="bg-faded p-4 my-4">
<p id="notice"><%= notice %></p>

<h1 align="center">Customs IT Support</h1><br><br><br>
<%= link_to 'New Support', new_support_path %><br>
<%= link_to 'Home', root_path %><br>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %><br><br>


<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Typeofsupport</th>
      <th>Servicetag</th>
      <th>Description</th>
      <th>Text</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supports.each do |support| %>
     <% if support.station == current_user.station || current_user.admin == true %> 
      <tr>
        <td><%= support.station %></td>
        <td><%= support.typeofsupport %></td>
        <td><%= support.servicetag %></td>
        <td><%= support.description %></td>
        <td>      </td>
        <td><%= support.user_id %></td>
        <td><%= link_to 'Show', support %></td>
        <% if can? :update, support %>
	<td><%= link_to 'Edit', edit_support_path(support) %></td>
        <% end %>
        <% if can? :update, support %>
	<td><%= link_to 'Destroy', support, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td><td>
	
        <% if support.rsupports.any? %>
	
		

		<h4>Response</h4>
		<%= render support.rsupports %>
		<% end %>
	
		<p> Add Response </p>
                  
		<%= form_for([support, support.rsupports.build]) do |f| %>
		  
 <%= f.text_area :description %>
                   <%= submit_tag "Add" %>
                <% end %>
	</td> 
        </tr>

     <% end %>
    <% end %>
  </tbody>
</table>

<br>



</div>
</div>
